body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: blueviolet;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.submit {
  padding: 7px 20px;
  margin-top: 10px;
  background-color: lightblue;
  border-radius: 9px;
}
